.text-section {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition-delay: 50ms;
}

.card-section {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card1-section {
  transition-delay: 100ms;
}

.card2-section {
  transition-delay: 200ms;
}

.card3-section {
  transition-delay: 300ms;
}

.card4-section {
  transition-delay: 400ms;
}

.text-section.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
