.about {
  height: 80vh;
  min-height: 800px;
  --s: 50px; /* the size on the corner */
  --t: 5px; /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  --mainblue: #2e42ff;
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--mainblue); /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

@media (max-height: 650px) {
  /* Your styles for heights shorter than 300px go here */
  .about {
    margin-top: 10rem;
  }
}

@media (max-height: 500px) {
  /* Your styles for heights shorter than 300px go here */
  .about {
    margin-top: 20rem;
  }
}

@media (max-height: 350px) {
  /* Your styles for heights shorter than 300px go here */
  .about {
    margin-top: 30rem;
  }
}

.who-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition-delay: 100ms;
}

.who-section.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.title-section {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition-delay: 100ms;
}

.title-section.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.text-section {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition-delay: 150ms;
}

.text-section.fadeIn {
  opacity: 1;
  transform: translateX(0);
}
